body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
pre {
	overflow: auto;
}
fieldset,img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
}
ol,ul,li {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}
q: before,q: after {
	content: '';
}
abbr,acronym {
	border: 0;
}
a: active,a: focus {
	outline: none;
}
span.monospace {
	font-family: Courier;
}
strong {
	font-weight: bold;
	color: black;
}
small {
	color: #999;
	font-size: 11px;
}
.waiting {
	background: url(img/waiting.gif) no-repeat 0 50%;
	padding-left: 20px;
	font-weight: bold;
}
.hidden {
	display: none;
}
.red {
	color: red;
}
.errorMessage {
	color: red;	
}
body {
	font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,Arial,sans-serif;
	color: #333;
	font-size: 12px;
	line-height: 18px;
	background: #e5f6f4 url(img/bg.png) repeat-x;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,p,ul,li {
	padding: 0;
	margin: 0;
}
a {
	color: #08c;
	text-decoration: none;
}
a: hover {
	text-decoration: underline;
}
.clb,.clear-both,.clear {
	clear: both;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.wrap2 {
	background: url(img/bg-light.png) no-repeat 0 -80px;
	background: url(img/__bg-light.png) no-repeat 0 -80px;
	width: 900px;
	margin: 0 auto;
}
body.page-404 #main_paper {
	background-color: white;
	padding-top: 20px;
	min-height: 300px;
	_height: 300px;
}
#main_paper {
	float: left;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 2px 15px #999;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 2px 15px #999;
	box-shadow: 0 2px 15px #999;
}
body.page-404 #main_paper {
	margin: 35px 160px 30px;
}
body.page-404 #main_paper p,body.page-404 #main_paper h1,body.page-404 #main_paper h2 {
	margin: 20px 60px 25px;
}
body.page-404 #main_paper p {
	font-size: 15px;
	line-height: 1.6;
}
body.page-404 #main_paper p.tips {
	font-size: 11px;
	margin: 15px 0 30px;
}
#logo {
	text-align: center;
	padding-top: 15px;
	padding-right: 20px;
}
#main_paper h1 {
	font-size: 25px;
	color: #446;
	font-weight: bold;
}
body.maintemamce #main_paper h1 {
	margin: 15px 0;
}
#main_paper h2 {
	color: #9f0000;
	font-size: 16px;
	line-height: 22px;
}
#bottom_menu {
	height: 40px;
	color: gray;
}
div#bottom_menu {
	font-size: 11px;
	padding-top: 20px;
	text-align: center;
}
div#bottom_menu a.first {
	border-left: none;
}
#bottom_menu li {
	float: left;
	width: 40%;
	list-style: none;
	padding-left: 2%;
}
#bottom_menu li.blog {
	text-align: right;
	padding-right: 2%;
}
#bottom_menu li a {
	padding: 5px 0 5px 23px;
	font-size: 14px;
}
#bottom_menu li.blog a {
	background: url(img/feed.png) no-repeat 3px 2px;
}
#bottom_menu li.twitter a {
	background: url(img/twitter.png) no-repeat 0 0;
}
@media screen and(-webkit-min-device-pixel-ratio: 0) {
	#notify_form_div input.button {
	top: -1px;
}
}img {
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(...);
}
form.form-error {
	background-color: #fcc;
	color: #900;
	padding: 3px 10px;
}
input.text,input.password {
	font-size: 16px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa #aaa #ccc;
	width: 250px;
	-moz-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.4) inset;
	box-shadow: 0 1px 3px -1px rgba(0,0,0,0.4) inset;
}
input.shorter {
	width: 50px;
}
input.short {
	width: 119px;
}
input.long {
	width: 300px;
}
input.full {
	width: 100%;
}
input.text: focus,input.password: focus {
	-moz-box-shadow: 0 0 8px rgba(82,168,236,0.5);
	-webkit-box-shadow: 0 0 8px rgba(82,168,236,0.5);
	border-color: rgba(82,168,236,0.75)!important;
	border: 1px solid #aaa;
	outline: none;
}
input.error,input.empty {
	border: 1px solid red;
}
.form-error {
	background-color: #fcc;
	color: #900;
	padding: 0 10px;
	line-height: 24px;
}
legend {
	font-size: 13px;
	padding: 0 10px;
	color: #666;
	font-weight: bold;
}
fieldset {
	border-top: 1px solid #ccc;
	padding: 15px 15px 0 20px;
	margin-bottom: 20px;
}
form .hyperlink {
	border-bottom: 1px dotted;
	text-decoration: none;
}
form .hyperlink: hover {
	border-bottom: 1px solid;
	text-decoration: none;
}
form p {
	margin-bottom: 15px;
}
.form-list li {
	padding: 5px 0;
	clear: both;
}
.form-list-left {
	float: left;
	width: 90px;
}
.form-list-left label {
	color: #666;
	line-height: 28px;
}
.form-list-right {
	padding-left: 90px;
}
.form-list li.form-list-btnbar {
	clear: both;
}
.form-list-btnbar .form-list-right {
	padding-top: 8px;
}
.or {
	padding: 0 5px;
	font-size: 10px;
	color: #666;
}
.form-list-btnbar .hyperlink,.form-list-btnbar .redlink,.form-list-btnbar .bluelink {
	font-size: 11px;
}
input.error {
	border: 1px solid red;
}
button,input.button,input.submit {
	background: url(img/bg-btn.gif) repeat-x 0 0 #ddd;
	border-color: #ddd #ddd #ccc;
}
button,input.button,input.submit,button.green-button,input.green-button {
	border-width: 1px;
	border-style: solid;
	text-shadow: 0 1px 0 #FFF;
	padding: 2px 8px 3px;
	font-size: 13px;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 5px -1px transparent;
	-webkit-box-shadow: 1px 1px 5px -1px transparent;
	box-shadow: 1px 1px 5px -1px transparent;
}
button: hover,button: focus,input.button: hover {
	border-color: #999 #999 #888;
	outline: none;
}
input.disabled: hover {
	border-color: #ddd #ddd #ccc;
}
button.green-button,input.green-button {
	background: url(img/btbg-green.png) repeat-x 0 -1px;
	border: 1px solid #608925;
	color: #fff;
	text-shadow: 0 0 1px #666;
	padding: 3px 8px;
}
button.green-button: hover,input.green-button: hover {
	-moz-box-shadow: 1px 1px 8px -1px #1faa02;
	-webkit-box-shadow: 1px 1px 8px -1px #1faa02;
	box-shadow: 1px 1px 8px -1px #1faa02;
}
.r1 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
body.maintemamce #main_paper {
	background: url(img/fail-whale.png) no-repeat 100% 100%;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
	height: 300px;
	margin: 80px auto;
	width: 90%;
	float: none;
}